QMainWindow {
    color: $(foreground-1);
    background-color: $(background-1);
}


QMdiArea {
    qproperty-background: $(background-2);
}

QSubWindow {
    border: none;
    background-color: $(background-1)
}

QSubWindow:focus {
    border: 1px solid $(foreground-1);
    background-color: $(background-1)
}
